<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinformSample.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinformSample.AppSettings>
            <setting name="DbContring" serializeAs="String">
                <value>Server=myServerAddress;Database=myDataBase;Uid=myUsername;Pwd=myPassword;
Server=myServerAddress;Database=myDataBase;Uid=myUsername;Pwd=myPassword;
Data Source=localhost; Database=bms; UID=root; Password=Admin1234;</value>
            </setting>
        </WinformSample.AppSettings>
    </userSettings>
</configuration>